

  /*maps*/
  $fuentes:(
    thin: 100,
    black:900,
    medium:500
  ); 
  $sizes:(
     25 : 25px,
     43 : 43px,
     fuente1 : 120%,
     spacingleter1 : 3px,
     fuentelh : 100%
  );
  $colors:(
    color1 :  #F9DC5C,
    color2 :   #FAE588

  );
              